.movie-card {
  height: 322px;
  width: 270px;
}

.movie-image {
  padding: 20px 0px 0px 0px;
}

.movie-name {
  margin-top: 14px;
  padding-left: 14px;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.015em;
  color: #FFFFFF;
}

.movie-year {
  padding-left: 14px;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.015em;
  color: #FFC700;
}

.movie-subtitle {
  padding-left: 14px;
  padding-bottom: 53px;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.015em;
  color: #FFFFFF;
}