.auth-card-container {
  padding: 95px 50px 180px 50px;
  width: 551px;
  height: 750px;
}

.auth-card-title {
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  letter-spacing: -0.015em;
  text-transform: uppercase;
}

.home-login-form {
  margin-top: 65px;
}

input{
  margin-top: 32px;
  border: 1px solid #E1E1E1;
  box-sizing: border-box;
  padding: 12px 20px 17px 20px;
  height: 50px;
  width: 450px;
  display: flex;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.015em;
  color: #9E9E9E;
}