.auth-card {
  padding: 74px 44px 96px 51px;
  width: 479px;
  height: 573px;
}

.auth-card-title {
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  letter-spacing: -0.015em;
  text-transform: uppercase;
}

.login-form {
  margin-top: 55px;
}

.login-alert {
  margin-top: 10px;
}

.input-email {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.015em;
  color: #9E9E9E;
  margin-bottom: 32px;
  height: 50px;
}

.input-password {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.015em;
  color: #9E9E9E;
  margin-bottom: 79px;
  height: 50px;
}

.login-submit {
  margin-top: 79px;
  margin-bottom: 96px;
}