.home-container {
  display: flex;
  padding: 58px 118px 69px 0;
  color: #FFFFFF;
  justify-content: center;
}

.home-info-title {
  margin-top: 17px;
  font-size: 55px;
  line-height: 75px;
  letter-spacing: -0.015em;
}

.home-info-subtitle {
  padding-top: 19px;
  padding-bottom: 52px;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.015em;
  color: #F2F2F2;
}

.home-image {
  width: 414px;
  height: 307px;
}

.home-login {
  margin-left: 150px;
}